<header class="header">
    <ul class="list-menu">
        <li class="list-menu-item">Home</li>
        <li class="list-menu-item">HTML</li>
        <li class="list-menu-item">CSS</li>
        <li class="list-menu-item">Javascript</li>
        <li class="list-menu-item">Nodejs</li>
    </ul>
    <div class="login">Login</div>
</header>